@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
body {
  font-family: 'Roboto', sans-serif; /* Replace 'Roboto' with your chosen font */
}
@layer utilities {
.h-61-calc {
    height: calc(100vh - 61px);
  }
.h-290-calc {
    height: calc(100vh - 290px);
  }
}